.card-box {
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  margin-right: 8px;
}

.row .col {
  padding: 0;
}
.row .card-box {
  padding: 25px 30px;
}
.row1 .card-box {
  background: linear-gradient(253deg, #004567 27.38%, #3387b1 100%);
  min-height: 125px;
  color: #fff;
}
.row1 .card-box .tit {
  font-size: 18px;
  margin-bottom: 6px;
}
.row1 .card-box .value {
  font-size: 38px;
  line-height: 1;
}
.row1 .card-box .svg {
  float: right;
  margin-top: 10px;
  height: 60px;
}
.row2 .card-box {
  height: 350px;
}
.row3 .card-box {
  height: 380px;
}
.row4 .card-box {
  min-height: 350px;
}
.card-box .scroll-div {
  height: 270px;
  overflow: auto;
}

.title-inner {
  color: #004567;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom:20px;
}

.sponser-list li {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.sponser-list li .name {
  color: #2d2d2d;
  font-size: 14px;
  width: 100%;
  flex: 0 0 100%;
}
.sponser-list li .per {
  flex: 1;
}
.sponser-list li .val {
  flex: 0 0 65px;
}
.sponser-list li .progress-bar {
  background: #0f6d9c;
}
.sponser-list li .val {
  color: #646566;
  /* text-align: right; */
  font-size: 16px;
  font-weight: 700;
  width: 130px;
}
.progress{border-radius: 100px;background: #F7F5F5;height:14px}
.filter-popup .f-feilds{height:auto!important}
.filter-popup .modal-content{padding:40px 50px;background: var(--pitgray);}

@media only screen and (min-width: 990px) and (max-width: 1616px) {
  .col-lg-3 {
    width: 50%;
  }
  .col-lg-3full {
    width: 100%;
  }
  .col-lg-4 {
    width: 50%;
  }
  .col-lg-4full {
    width: 100%;
  }
}
