.dot{display:inline-block;height:6px;width:6px;border-radius:6px;transform: translate(-2px, -2px);}
.red{background-color: #BF0400;}

.more-info button{font-size: 12px;width: 100px;display: block;margin: 1px 0;padding: 2px;}

.table-theme1 .mat-cell, .table-theme1 tbody td {padding: 2px 15px!important;}