/* .ta-tree-invisible {
    display: none;
  }

  .ta-tree {
    position: relative;
  }

  .ta-tree-node-name {
    flex: 1 1 auto;
  }

.mat-tree{max-width: 500px;}
mat-list-item{width: 100%;}
mat-list-item.level0{background: #f7efe1;}
mat-list-item.level1{background: #f9f7f7;}
::ng-deep .mat-list-item-content{display: flex;align-items: center;}
.add-disease{font-size: 12px;padding: 0;min-width: 85px;}
 */


.ta-tree-invisible {
  display: none;
}

/* .ta-tree {
  position: relative;
} */
.ta-tree ul,
.ta-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.ta-tree .mat-nested-tree-node div[role=group] {
  /* padding-left: 20px; */
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.ta-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}


.mat-tree{max-width: 500px;}
.mat-tree-node{width: 100%;}
.mat-tree-node.ta-list{background: #f7efe1;
  margin-top: 5px;}
.mat-tree-node.d-list{background: #f9f7f7;}
::ng-deep .mat-list-item-content{display: flex;align-items: center;}
.add-disease{font-size: 12px;padding: 0;min-width: 85px;}