<!-- <div class="body-container-wrapper gradient-l-r"> -->

<div class="login-container">
  <div class="left">

    <div class="mx-auto w-full max-w-sm lg:w-96"
      style="margin: 0 auto;max-width: 30rem;width: 24rem;background: #fff;padding: 50px;border-radius:10px">
      <div class="mb-8 text-center">
        <img class="" src="./assets/image/logo.svg" alt="" width="300">
        <p class="mt-2 text-sm text-center text-gray-600"
          style="margin-top:2px;text-align: center;font-size: 12px;color: cornflowerblue;">
        </p>
      </div>
      <div class="mt-8 text-center">

        <div class="sso-button" *ngIf="type == 'sso'">
          <button class="sso-button-link" [disabled]="(Gloader.val =='true')">
            <span class="self-center" *ngIf="apiCall">Connecting SAML...</span>
            <span class="self-center" *ngIf="!(Gloader.val =='true') && !apiCall">Sign in via SSO (Microsoft)</span>
          </button>

        </div>

        <div class="relative mt-5">
          <h4 *ngIf="popupType == 'forgetPassword' ">Forgot Password</h4>
          <h4 *ngIf="popupType == 'changePassword' ">Set Password</h4>
        </div>


        <ng-container *ngIf="((popupType != 'login') && apiCall)">

          <div class="loaderContainer fw-100">
            <div class="loaderGif" style="margin:0 auto;width:50px;">
              <div class="load-wrapp">
                <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="fw-100" *ngIf="type == 'default'">
          <div class="loginpage l-form mt-0">


            <div class="sso-button">
              <button class="sso-button-link" [disabled]="(Gloader.val =='true')" (click)="ssoLink()">
                <span class="self-center" *ngIf="apiCall">Connecting SSO...</span>
                <span class="self-center" *ngIf="!(Gloader.val =='true') && !apiCall">Sign in via SSO (Microsoft)</span>
              </button>

            </div>

            <!-- <div class="relative mt-5 mb-5">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full bg-line"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="bg-white px-2 text-gray-500">Or continue with</span>
              </div>
            </div>

            <form #loginForm="ngForm" name="form" (ngSubmit)="loginForm.valid && onSubmit()" autocomplete="false"
            class="form form-login full-form text-start" novalidate>
            <div class="loginform">


              <div class="f-row">

                <div class="f-row">
                  <div class="f-feilds" *ngIf="popupType == 'login'">
                    <mat-form-field appearance="outline" class="fw-100">
                      <mat-label>Email*</mat-label>
                      <input email matInput type="email" name="email" required
                        [(ngModel)]="loginform.email" #email="ngModel" placeholder="Enter Email" />
                    </mat-form-field>
                    <div class="fw-100"
                      *ngIf="(email.invalid && (email.dirty || email.touched)) || (loginForm.submitted && email.invalid)">
                      <small class="msg error" *ngIf="email.errors?.['required']">Email is required.</small>
                      <small class="msg error" *ngIf="email.invalid && loginform.email!=''">Please enter the valid
                        email.</small>
                    </div>
                  </div>
                </div>


                <div class="f-row">
                  <div class="f-feilds" *ngIf="popupType == 'login'">
                    <mat-form-field appearance="outline" class="fw-100">
                      <mat-label>Password*</mat-label>
                      <input type='password' matInput required minlength="6" name="password"
                        [(ngModel)]="loginform.password" #password="ngModel" placeholder="Enter Password">
                    </mat-form-field>
                    <div class="fw-100"
                      *ngIf="(password.invalid && (password.dirty || password.touched)) || (loginForm.submitted && password.invalid)">
                      <small class="msg error" *ngIf="password.errors?.['required']">Password is required.</small>
                      <small class="msg error" *ngIf="password.errors?.['minlength']">Please enter the valid
                        password</small>
                    </div>
                  </div>
                </div>

              </div>

              <div class="f-row">
                <div class="f-feilds h-auto">
                  <button type="submit" class="submitform"
                    [ngClass]="{'forminvalid':(!loginForm.valid || apiCall ||  ((popupType == 'changePassword' && loginform.password != loginform.new_password)))}">
                    <span *ngIf="popupType == 'login'">Login</span>
                    <span *ngIf="popupType != 'login'">Submit</span>
                  </button>
                </div>
              </div>

            </div>

          </form> -->
          </div>

        </div>



      </div>
    </div>
  </div>
  <div class="right relative hidden w-0 flex-1 lg:block">
    <img class="" src="./assets/image/bg1.png" alt="">
  </div>
</div>

<div id="loaderContainer" *ngIf="Gloader && Gloader.val =='true'">
  <div id="loaderGif">
    <span>{{Gloader.msg}}</span>
  </div>
</div>