<div class="fw-100 card-box">
    <div class="table-card-wrapper">

        <div class="fw-100">
<nav class="navbar navbar-expand-lg" style="background: #f8fbfe;box-shadow: 0 0 8px #ccc;">
    <div class="container-fluid" style="--bs-gutter-x: 3rem;">
        <img src="./assets/image/logo.svg" alt="" width="200" [routerLink]="'/Novartis/Home'">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text">

            <div class="align-self-center">
                <span class="nav-link text-secondary">
                    <span class="bi d-block mx-auto mb-1">

                        <a class="mat-menu-trigger nav col-12 col-lg-auto justify-content-center text-small nav-link dropdown-toggle px-0"
                            id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" [matMenuTriggerFor]="beforeMenu">
                            <!-- -->
                            <img src="./assets/image/icons/profile-icon.svg" height="36">
                        </a>
                    </span>
                </span>
            </div>
            <!--  -->
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item c-p" (click)="logout()"> Log Out</a>
            </mat-menu>

        </span>
      </div>
    </div>
  </nav>






            <div class="tab-details inner-card-box tablescroll fw-100 mt-n2 p-4">
                    <div  class="mt-3" style="max-width: 1200px;">
                        <div class="table-responsive fw-100" [ngClass]="{'blur-loader-layer':apiCall['list']}">
                            <div class="table-header-area mt-1 mb-1">
                                <div class="float-start">
                                    <h3>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 21" class="cp" [routerLink]="'/Novartis/Home'" class="c-p"
                                            fill="none">
                                            <path d="M23 10.5H1M1 10.5L10.625 1M1 10.5L10.625 20" stroke="#C98B27" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        User Management</h3>
                                </div>
                                <div class="float-end tablesearch">
                                    <div class="float-end ms-2 mt-1"><img src="./assets/image/download.svg" height="24"  (click)="exporter.exportTable('xlsx',{fileName:'Users'})" class="c-p"></div>
                                    <button type="button" class="btn btn-secondary btn-sm float-end ms-2" (click)="popuptype = 'upload'">Upload Users (Excel)</button>
                                    <mat-form-field appearance="fill" class="float-end">
                                        <img src="./assets/image/search.svg" class="search-icon" height="36" alt="">
                                        <input type="text" class="table-search" placeholder="Type keywords ..." matInput
                                            #searchContainer autocomplete="off" [(ngModel)]="filterValue" #ctrl="ngModel"
                                            (keyup)="applyFilter(searchContainer.value)" />
                                    </mat-form-field>
                                </div>
                            </div>





                            <mat-table [dataSource]="data_dataSource" matTableExporter matSort #dataTable class="no-wrap" matSortActive="created_on" matSortStart="asc" matSortDisableClear
                            #exporter="matTableExporter">
                                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        <span *ngIf="column == 'user_id'">Email</span>
                                        <span *ngIf="column == '_id'">ID</span>
                                        <span *ngIf="column == 'role'">role</span>
                                    </th>
                                    <td mat-cell *matCellDef="let element" [title]="(element[column])?element[column]:''">
                                        <div >
                                            {{element[column]}}
                                        </div>
                                    </td>
                                </ng-container>




                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="currentObj=row">
                                </mat-row>
                            </mat-table>
                            <!-- <table class="mat-table">
                                <tr class="mat-row"
                                    *ngIf="!data_dataSource.data.length || !data_dataSource.filteredData.length">
                                    <td class="mat-cell" style="text-align: center;"
                                        [attr.colspan]="displayedColumns.length">
                                        No Records Found!<span
                                            *ngIf="!data_dataSource.filteredData.length && data_dataSource.data.length">(Search
                                            Result)</span>
                                    </td>
                                </tr>
                            </table> -->
                        </div>

                        <ng-container *ngIf="data_dataSource && data_dataSource.data && data_dataSource.data.length">
                        <mat-paginator #orderMatPaginator showFirstLastButtons  [length]="data_dataSource.filteredData.length"
                            [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                        </ng-container>
                    </div>
                    <div *ngIf="userFormVisible" class="fw-100">
                        <div class="box-title" >
                            <span (click)="userFormVisible=false" class="pe-2 c-p">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 21"
                                fill="none">
                                <path d="M23 10.5H1M1 10.5L10.625 1M1 10.5L10.625 20" stroke="#C98B27" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg></span>
                            <span *ngIf="formType=='add'">Add</span>
                            <span *ngIf="formType=='edit'">Update</span>
                            User


                        </div>

                        <hr class="mb-4">

                        <form class="" #form="ngForm" (ngSubmit)="form.form.valid && adduser()" autocomplete="off">
                            <div class="f-row offside">
                                <div class="f-feilds">
                                    <label>First Name*</label>
                                    <input type="text" class="form-control" required name="first_name"
                                        [(ngModel)]="userForm.first_name" #first_name="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(first_name.invalid && (first_name.dirty || first_name.touched)) || (form.submitted && first_name.invalid)">
                                        <small class="msg error" *ngIf="first_name.errors?.['required']">First name is
                                            required.</small>
                                    </div>
                                </div>
                                <div class="f-feilds">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control" required name="last_name"
                                        [(ngModel)]="userForm.last_name" #last_name="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(last_name.invalid && (last_name.dirty || last_name.touched)) || (form.submitted && last_name.invalid)">
                                        <small class="msg error" *ngIf="last_name.errors?.['required']">Last name is
                                            required.</small>
                                    </div>
                                </div>
                                <div class="f-feilds">
                                    <label>Role*</label>

                                    <div class="form-control-layer fw-100" [ngClass]="{'empty':!userForm.role}">
                                        <ngx-select [allowClear]="true" [items]="list.role" optionValueField="role_name"
                                            optionTextField="role_name" [(ngModel)]="userForm.role"
                                            placeholder="Select Role" required="" name="role">
                                            <ng-template ngx-select-option ngx-select-option-selected let-option
                                                let-text="text">
                                                <!-- <img [src] = "option.data.flag" alt="" height="20" style="margin-right:10px"/> -->
                                                <span [innerHtml]="text"></span>
                                            </ng-template>
                                            <ng-template ngx-select-option-not-found let-input>"{{input}}" not found
                                            </ng-template>
                                        </ngx-select>
                                        <small class="msg error" *ngIf="!form.submitted && userForm.role==null">Please
                                            select Role</small>
                                    </div>
                                    <small class="msg error" *ngIf="(form.submitted && userForm.role==null)">Please select
                                        Role</small>
                                </div>


                                <div class="f-feilds">
                                    <label>Email*</label><input email type="email" name="email" class="form-control"
                                        required [(ngModel)]="userForm.email" #email="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(email.invalid && (email.dirty || email.touched)) || (form.submitted && email.invalid)">
                                        <small class="msg error" *ngIf="email.errors?.['required']">Email is
                                            required.</small>
                                        <small class="msg error" *ngIf="email.invalid && userForm.email!=''">Please enter
                                            the valid email.</small>
                                    </div>
                                </div>

                                <!-- <div class="f-feilds">
                                    <label>Therapeutic Area*</label>
                                    <div class="form-control-layer fw-100" [ngClass]="{'empty':!userForm.ta}">
                                        <ngx-select [allowClear]="true" [items]="list.therapeutic_area"
                                            optionValueField="therapeutic_name" optionTextField="therapeutic_name"
                                            [(ngModel)]="userForm.ta" placeholder="Select Order Currency" required=""
                                            name="ta">
                                            <ng-template ngx-select-option ngx-select-option-selected let-option
                                                let-text="text">
                                                <span [innerHtml]="text"></span>
                                            </ng-template>
                                            <ng-template ngx-select-option-not-found let-input>"{{input}}" not found
                                            </ng-template>
                                        </ngx-select>
                                        <small class="msg error" *ngIf="!form.submitted && userForm.ta==null">Please select
                                            Therapeutic Area</small>
                                    </div>
                                    <small class="msg error" *ngIf="(form.submitted && userForm.ta==null)">Please select
                                        Therapeutic Area</small>
                                </div>


                                <div class="f-feilds">
                                    <label>Disease*</label>
                                    <div class="form-control-layer fw-100" [ngClass]="{'empty':!userForm.disease}">
                                        <ngx-select [allowClear]="true" [items]="list.disease[userForm.ta]"
                                            optionValueField="disease_name" optionTextField="disease_name"
                                            [(ngModel)]="userForm.disease" placeholder="Select Order Currency" required=""
                                            name="disease">
                                            <ng-template ngx-select-option ngx-select-option-selected let-option
                                                let-text="text">
                                                <span [innerHtml]="text"></span>
                                            </ng-template>
                                            <ng-template ngx-select-option-not-found let-input>"{{input}}" not found
                                            </ng-template>
                                        </ngx-select>
                                        <small class="msg error" *ngIf="!form.submitted && userForm.disease==null">Please
                                            select Disease</small>
                                    </div>
                                    <small class="msg error" *ngIf="(form.submitted && userForm.disease==null)">Please
                                        select Disease</small>
                                </div> -->

                                <!--
                            <div class="f-feilds">
                                <label >Organisation*</label>
                                <input type="text" class="form-control" required name="organisation" [(ngModel)]="userForm.organisation" #organisation="ngModel">
                                <div class="fw-100"  *ngIf="(organisation.invalid && (organisation.dirty || organisation.touched)) || (form.submitted && organisation.invalid)">
                                    <small class="msg error" *ngIf="organisation.errors?.['required']">Organisation is required.</small>
                                </div>
                            </div> -->
                                <div class="f-feilds">
                                    <label>Notes*</label>
                                    <input type="text" class="form-control" required name="notes"
                                        [(ngModel)]="userForm.notes" #notes="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(notes.invalid && (notes.dirty || notes.touched)) || (form.submitted && notes.invalid)">
                                        <small class="msg error" *ngIf="notes.errors?.['required']">Last name is
                                            required.</small>
                                    </div>
                                </div>

                            </div>

                            <div class="f-row">
                                <!-- <button type="button" class="btn btn-primary btn-sm float-end" (click)="userFormVisible=false">back</button> -->
                                <button class="btn btn-primary btn-sm" [ngClass]="{'forminvalid':!form.valid}" type="submit"
                                    [disabled]="apiCall['common']">
                                    <span>Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>


            <div class="modal show confirm-popup" tabindex="-1" role="dialog" aria-labelledby=""
            *ngIf="popuptype == 'projectDelete'">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-4">
                    <h3 class="fw-100 my-2 text-center">Are you sure to delete {{currentObj.first_name}}?</h3>

                    <div class="fw-100 p-2 text-center mt-2">
                        <button class="btn btn-light my-md me-3" (click)="this.popuptype = ''">Cancel</button>
                        <button class="btn btn-danger my-md me-3" (click)="deleteCallback(currentObj.user_id)"
                            [disabled]="apiCall['common']">Delete</button>
                    </div>
                </div>
            </div>
            </div>




<div class="modal show confirm-popup" tabindex="-1" role="dialog" aria-labelledby=""
*ngIf="popuptype == 'upload'">
<div class="modal-dialog" role="document">
    <div class="modal-content p-4">
        <h4 class="fw-100 mt-2 mb-4 text-center">User Upload</h4>

        <h3 *ngIf="apiCall['uploading']" class="text-center my-md">Uploading...</h3>

        <form class='single-view' *ngIf="!apiCall['uploading']">
            <div class="f-feilds browse-field" *ngIf="isExcelValid">
                <label>Upload Excel*</label>
                <label class="file-upload" [ngClass]="{'disabled':apiCall['uploading']}"><input multiple="" required
                        enctype="multipart/form-data" (change)="uploadData($event)" type="file" class="form-control"
                        name="document" min="0" /></label>
                <div class="fw-100">
                    <span class="float-end action-link" (click)="sampleExcel()">Download Sample (xls)</span>
                </div>
                <div class="fw-100">
                    <div class="text-primary mt-3">*File must be in Excel format. Records in the sheet name 'data' will be uploaded into the system.</div>
                </div>
            </div>

            <div class="fw-100 p-2 text-center mt-2">
                <ng-container *ngIf="isExcelValid">
                    <button class="btn btn-secondary mr-3" (click)="popuptype = ''">Cancel</button>
                    <!-- <button class="btn btn-success my-md mr-3" (click)="popuptype = ''">Upload</button> -->
                </ng-container>

                <ng-container *ngIf="!isExcelValid">
                    <button class="btn btn-secondary mr-3"
                        (click)="popuptype = '';isExcelValid = true">Ok</button>
                </ng-container>
            </div>

        </form>
    </div>
</div>
</div>


</div>
</div>
</div>
</div>


