<div class="box-shadow p-4 grid-system" #maincontainer>
    <div class="box-title">
        <span [routerLink]="'/PIT/PITargets'" class="pr-2 c-p">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21" fill="none">
                <path d="M23 10.5H1M1 10.5L10.625 1M1 10.5L10.625 20" stroke="#C98B27" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg></span> {{(detailView['basic'].investigator_name)?detailView['basic'].investigator_name.toLowerCase():'-'}}
            <div class="float-end" style="font-size:12px">
                <mat-radio-group  name="refereralType" [ngModel]="refereralType" (ngModelChange)="refereralType=$event;loadData()">
                    <mat-radio-button value="Affiliation">Affiliation</mat-radio-button>
                    <mat-radio-button value="zip">Zip</mat-radio-button>
                </mat-radio-group>
            </div>
    </div>
    <div class="row px-2">

        <div class="col-4">
            <div class="fw-100 box-shadow card-box left-info" style="min-height:500px">

                <div class="scale-0_5">
                    <app-loader *ngIf="apiCall['basic']"></app-loader>
                </div>
                <div class="fw-100 left-info-inner " *ngIf="!apiCall['basic']">
                    <!-- {{detailView | json}} -->

                    <img src='./assets/image/hospital.svg' height="100" class="profile-icon" />
                    <table class="detail-profile">
                        <tr>
                            <td colspan="2">
                                <div class="lb">Name :</div>
                                <div class="vl text-capitalize">{{detailView['basic'].investigator_name.toLowerCase()}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="lb">Affiliation :</div>
                                <div class="vl text-capitalize">{{detailView['basic'].siteorgname_l2.toLowerCase()}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="lb">Zip :</div>
                                <div class="vl">{{detailView.physician_zip_cd}}</div>
                            </td>
                            <td>
                                <div class="lb">City :</div>
                                <div class="vl text-capitalize">{{(detailView.physician_city)?detailView.physician_city.toLowerCase():''}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="lb">State :</div>
                                <div class="vl text-capitalize">{{(detailView.physician_state)?detailView.physician_state.toLowerCase():''}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="lb">Address :</div>
                                <div class="vl text-capitalize">{{(detailView.physician_address_1)?detailView.physician_address_1.toLowerCase():''}}</div>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row px-2">

                <div class="col-12">
                    <div class="box-shadow card-box">
                        <div class="row px-2">

                            <div class="col-12">
                                <div class="box-shadow card-box">
                                    <h6 class="title-inner">Referral List<div class="float-end"><img src="./assets/image/icons/info.svg" height="16"  alt=""
                                        matTooltip="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"></div></h6>
                                    <div class="fw-100 val-data">
                                        <div class="scale-0_5">
                                            <app-loader *ngIf="apiCall['referralList']"></app-loader>
                                        </div>
                                        <div class="fw-100"  *ngIf="!apiCall['referralList']">
                                            <div class="table-responsive table-theme1 fw-100">
                                              <mat-table  [dataSource]="data_dataSource" matTableExporter matSort #dataTable class="no-wrap"
                                                  (matSortChange)="sortData()" matSortActive="name" matSortStart="asc" matSortDisableClear
                                                  #exporter="matTableExporter">
                                                  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns_order">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>

                                                          <span *ngIf="column == 'nct_id'">NCT ID</span>
                                                          <span *ngIf="column == 'completed_status'">Status</span>
                                                          <span *ngIf="column == 'site_name'">Site Name</span>
                                                          <span *ngIf="column == 'sponsor'">Sponsor</span>
                                                        </th>
                                                      <td mat-cell *matCellDef="let element" [title]="element[column]" >
                                                          <!-- [ngClass]="{'text-center':(column=='ROLE')}" -->
                                                          {{element[column]}}


                                                        </td>
                                                  </ng-container>

                                                  <mat-header-row *matHeaderRowDef="displayedColumns_order"></mat-header-row>
                                                  <mat-row *matRowDef="let row; columns: displayedColumns_order;" [routerLink]="'/PIT/TrialAnalysisdetail/'+row.nct_id+'/Landscape'"></mat-row>
                                              </mat-table>

                                              <table class="mat-table no-data">
                                                  <tr class="mat-row"
                                                      *ngIf="data_dataSource && (!data_dataSource.data.length || !data_dataSource.filteredData.length) && !apiCall['trialDetails']">
                                                      <td class="mat-cell" style="text-align: center;" [attr.colspan]="displayedColumns_order.length">
                                                          No Records Found! <span
                                                              *ngIf="!data_dataSource.filteredData.length && data_dataSource.data.length">(Search
                                                              Result)</span>
                                                      </td>
                                                  </tr>
                                              </table>
                                          </div>
                                          <mat-paginator #orderMatPaginator showFirstLastButtons (page)="pageChanged($event)" [length]="totalRows"
                                              [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>