.box-shadow{border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.10);}
.box-title{color: #004567;
    font-family: Segoe UI;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: capitalize;margin-bottom:20px;}
.title-inner{color: #004567;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;}
    .val-data{color: #646566;
        font-family: Segoe UI;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.5px;}

    .row2 .card-box{height:185px;}
    .row3 .card-box{height:150px;}
    .row4 .card-box{height:250px;}
    .row5 .card-box{height:450px;}
    .grid-system [class^="col"]{padding:3px}
    .grid-system .card-box{border-radius: 10px;background: #FFF;box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.10);padding:20px;overflow: hidden;}


    .sponser-list li {
        flex-wrap: wrap;
        margin-bottom: 10px;
      }
      .sponser-list li .name {
        color: #2d2d2d;
        font-size: 14px;
        width: 100%;
        flex: 0 0 100%;
      }
      .sponser-list li .per {
        flex: 1;
      }
      .sponser-list li .val {
        flex: 0 0 65px;
      }
      .sponser-list li .progress-bar {
        background: #0f6d9c;
      }
      .sponser-list li .val {
        color: #646566;
        /* text-align: right; */
        font-size: 16px;
        font-weight: 700;
        width: 130px;
      }
      .progress{border-radius: 100px;background: #F7F5F5;height:14px}

.enrollment-list li .name{color: #2D2D2D; font-size: 14px;width: 100px;overflow: hidden;white-space: nowrap;}
.enrollment-list li .val{color: #004567;text-align: right;font-size: 18px;font-weight: 700;width: 100px;white-space: nowrap;}
.enrollment-list .progress {--bs-progress-height: 35px;--bs-progress-border-radius:4px}
.enrollment-list .progress-bar{border-radius: 4px;height: 35px;}
.enrollment-list .progress-bar.actual{background: #004567;}
.enrollment-list .progress-bar.target{background: #C98B27;}

.scale-0_5{transform: scale(0.5);}
.progress{border-radius: 100px;background: #F7F5F5;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;height:14px}