<div *ngIf="!userFormVisible" class="fw-100">
    <div class="table-responsive table-theme1 fw-100" [ngClass]="{'blur-loader-layer':apiCall['list']}">



        <div class="table-header-area mt-1">
            <div class="float-start">
            </div>
            <div class="float-end tablesearch">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-2"
                    (click)="formType='add';userFormVisible=true">NEW ADD CLIENT</button>
                <mat-form-field appearance="fill" class="float-end">
                    <img src="./assets/image/search.svg" class="search-icon" height="36" alt="">
                    <input type="text" class="table-search" placeholder="Type keywords ..." matInput #searchContainer
                        autocomplete="off" [(ngModel)]="filterValue" #ctrl="ngModel"
                        (keyup)="applyFilter(searchContainer.value)" />
                </mat-form-field>
            </div>
        </div>





        <mat-table [dataSource]="data_dataSource" matTableExporter matSort #dataTable class="no-wrap"
            (matSortChange)="sortData()" matSortActive="created_on" matSortStart="asc" matSortDisableClear
            #exporter="matTableExporter">


            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <!--client_name,contact_email,subscription_status,sub_start_date,sub_end_date,subscription_details              -->

                    <span *ngIf="column == 'client_name'">Name</span>
                    <span *ngIf="column == 'action'">Action</span>
                    <span *ngIf="column == 'contact_email'">Contact Email</span>
                    <span *ngIf="column == 'client_status'">Status</span>
                    <span *ngIf="column == 'subscription_length'">Subscription</span>
                <td mat-cell *matCellDef="let element" [title]="(element[column])?element[column]:''"
                    class="text-capitalize">
                    <!-- [ngClass]="{'text-center':(column=='ROLE')}" -->

                    <div *ngIf="column != 'action' && column != 'subscription_length'">
                        {{element[column]}}
                    </div>
                    <div *ngIf="column == 'subscription_length'">
                        <li *ngFor="let s of element['subscription_details']" class="fw-100">
                            {{s.therapeutic_name}} - {{s.disease_name}}<br>
                            {{s.sub_end_date | date }} - {{s.sub_start_date | date }}
                        </li>
                    </div>
                    <div *ngIf="column == 'action'" class="action">
                        <span class="d-inline-block me-3"
                            (click)="formType='edit';currentObj=element;userForm=element;userFormVisible=true">
                            <img alt="" class="c-p" src="./assets/image/icons/edit.svg">
                        </span>
                        <!-- <span class="d-inline-block mr-3" (click)="popuptype = 'projectDelete'">
                                                <img alt="" class="c-p" src="./assets/image/icons/delete.svg">
                                            </span> -->
                    </div>
                </td>
            </ng-container>




            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="currentObj=row">
            </mat-row>
        </mat-table>
        <table class="mat-table">
            <tr class="mat-row" *ngIf="!data_dataSource.data.length || !data_dataSource.filteredData.length">
                <td class="mat-cell" style="text-align: center;" [attr.colspan]="displayedColumns.length">
                    No Records Found!<span
                        *ngIf="!data_dataSource.filteredData.length && data_dataSource.data.length">(Search
                        Result)</span>
                </td>
            </tr>
        </table>
    </div>
    <mat-paginator #orderMatPaginator showFirstLastButtons (page)="pageChanged($event)" [length]="totalRows"
        [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
<div *ngIf="userFormVisible" class="fw-100">
    <div class="box-title mb-0">
        <span (click)="userFormVisible=false" class="pe-2 c-p">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 21" fill="none">
                <path d="M23 10.5H1M1 10.5L10.625 1M1 10.5L10.625 20" stroke="#C98B27" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg></span>
        <span *ngIf="formType=='add'">Add</span>
        <span *ngIf="formType=='edit'">Update</span>
        Client


    </div>

    <hr class="f-row mb-4">

    <form class="" #form="ngForm" (ngSubmit)="form.form.valid && adduser()" autocomplete="off">
        <div class="f-row pb-2"><strong >Basic information</strong></div>
        <div class="f-row offside">
            <div class="f-feilds">
                <label>Client Name*</label>
                <input type="text" class="form-control" required name="client_name" [(ngModel)]="userForm.client_name"
                    #client_name="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(client_name.invalid && (client_name.dirty || client_name.touched)) || (form.submitted && client_name.invalid)">
                    <small class="msg error" *ngIf="client_name.errors?.['required']">Client name is
                        required.</small>
                </div>
            </div>

            <div class="f-feilds">
                <label>Contact Person*</label>
                <input type="text" class="form-control" required name="contact_person"
                    [(ngModel)]="userForm.contact_person" #contact_person="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(contact_person.invalid && (contact_person.dirty || contact_person.touched)) || (form.submitted && contact_person.invalid)">
                    <small class="msg error" *ngIf="contact_person.errors?.['required']">Contact person is
                        required.</small>
                </div>
            </div>
            <div class="f-feilds">
                <label>Contact No*</label>
                <input type="text" class="form-control" required name="contact_no" [(ngModel)]="userForm.contact_no"
                    #contact_no="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(contact_no.invalid && (contact_no.dirty || contact_no.touched)) || (form.submitted && contact_no.invalid)">
                    <small class="msg error" *ngIf="contact_no.errors?.['required']">Contact no is
                        required.</small>
                </div>
            </div>
            <div class="f-feilds">
                <label>Contact Email*</label>
                <input type="text" class="form-control" required name="contact_email"
                    [(ngModel)]="userForm.contact_email" #contact_email="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(contact_email.invalid && (contact_email.dirty || contact_email.touched)) || (form.submitted && contact_email.invalid)">
                    <small class="msg error" *ngIf="contact_email.errors?.['required']">Contact email is
                        required.</small>
                </div>
            </div>
            <div class="f-feilds">
                <label>Address*</label>
                <input type="text" class="form-control" required name="client_address"
                    [(ngModel)]="userForm.client_address" #client_address="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(client_address.invalid && (client_address.dirty || client_address.touched)) || (form.submitted && client_address.invalid)">
                    <small class="msg error" *ngIf="client_address.errors?.['required']">Address is
                        required.</small>
                </div>
            </div>


            <div class="f-feilds">
                <label>Active*</label>
                <mat-slide-toggle name="client_status" [(ngModel)]="userForm.client_status" #client_status="ngModel">
                    {{(userForm.client_status)?'Active':'Inactive'}}</mat-slide-toggle>
                <!-- <input type="text" class="form-control"  required name="client_status"
                                        [(ngModel)]="userForm.client_status" #client_status="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(client_status.invalid && (client_status.dirty || client_status.touched)) || (form.submitted && client_status.invalid)">
                                        <small class="msg error" *ngIf="client_status.errors?.['required']">Last name is
                                            required.</small>
                                    </div> -->
            </div>
















            <!--
                                <div class="f-feilds">
                                    <label>Role*</label>

                                    <div class="form-control-layer fw-100" [ngClass]="{'empty':!userForm.role}">
                                        <ngx-select [allowClear]="true" [items]="list.role" optionValueField="role_name"
                                            optionTextField="role_name" [(ngModel)]="userForm.role"
                                            placeholder="Select Role" required="" name="role">
                                            <ng-template ngx-select-option ngx-select-option-selected let-option
                                                let-text="text">
                                                <span [innerHtml]="text"></span>
                                            </ng-template>
                                            <ng-template ngx-select-option-not-found let-input>"{{input}}" not found
                                            </ng-template>
                                        </ngx-select>
                                        <small class="msg error" *ngIf="!form.submitted && userForm.role==null">Please
                                            select Role</small>
                                    </div>
                                    <small class="msg error" *ngIf="(form.submitted && userForm.role==null)">Please select
                                        Role</small>
                                </div>


                                <div class="f-feilds">
                                    <label>Email*</label><input email type="email" name="email" class="form-control"
                                        required [(ngModel)]="userForm.email" #email="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(email.invalid && (email.dirty || email.touched)) || (form.submitted && email.invalid)">
                                        <small class="msg error" *ngIf="email.errors?.['required']">Email is
                                            required.</small>
                                        <small class="msg error" *ngIf="email.invalid && userForm.email!=''">Please enter
                                            the valid email.</small>
                                    </div>
                                </div>
                                <div class="f-feilds">
                                    <label>Notes*</label>
                                    <input type="text" class="form-control" required name="notes"
                                        [(ngModel)]="userForm.notes" #notes="ngModel" autocomplete="off">
                                    <div class="fw-100"
                                        *ngIf="(notes.invalid && (notes.dirty || notes.touched)) || (form.submitted && notes.invalid)">
                                        <small class="msg error" *ngIf="notes.errors?.['required']">Last name is
                                            required.</small>
                                    </div>
                                </div> -->

        </div>



        <hr class="f-row mb-4">
        <div class="f-row pb-2"><strong >Login information</strong></div>
        <div class="f-row offside">
            <div class="f-feilds">
                <label>Login Type*</label>

                <div class="form-control-layer fw-100" [ngClass]="{'empty':!userForm.login_type}">
                    <!-- <ngx-select [allowClear]="true" [items]="[{logintype:'Login Form'},{logintype:'Microsoft SSO'}]" optionValueField="logintype"
                        optionTextField="logintype" [(ngModel)]="userForm.login_type"
                        placeholder="Select login type" required="" name="login_type">
                        <ng-template ngx-select-option ngx-select-option-selected let-option
                            let-text="text">
                            <span [innerHtml]="text"></span>
                        </ng-template>
                        <ng-template ngx-select-option-not-found let-input>"{{input}}" not found
                        </ng-template>
                    </ngx-select> -->
                    <select [ngModel]="userForm.login_type" (ngModelChange)="userForm.login_type=$event" name="login_type" class="form-control" required>
                        <option [value]="i.logintype" *ngFor="let i of list.login">{{i.logintype}}</option>
                    </select>
                    <small class="msg error" *ngIf="!form.submitted && userForm.login_type==null">Please
                        select login type</small>
                </div>
                <small class="msg error" *ngIf="(form.submitted && userForm.login_type==null)">Please select
                    login type</small>
            </div>
            <ng-container *ngIf="userForm.login_type=='Microsoft SSO'">

            <div class="f-feilds">
                <label>Login url*</label>
                <input type="text" class="form-control" required name="login_url"
                    [(ngModel)]="userForm.login_url" #login_url="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(login_url.invalid && (login_url.dirty || login_url.touched)) || (form.submitted && login_url.invalid)">
                    <small class="msg error" *ngIf="login_url.errors?.['required']">Login url is
                        required.</small>
                </div>
            </div>
            <div class="f-feilds">
                <label>Logout url*</label>
                <input type="text" class="form-control" required name="logout_url"
                    [(ngModel)]="userForm.logout_url" #logout_url="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(logout_url.invalid && (logout_url.dirty || logout_url.touched)) || (form.submitted && logout_url.invalid)">
                    <small class="msg error" *ngIf="logout_url.errors?.['required']">Logout url is
                        required.</small>
                </div>
            </div>
            <div class="f-feilds">
                <label>Client id*</label>
                <input type="text" class="form-control" required name="sso_client_id"
                    [(ngModel)]="userForm.sso_client_id" #sso_client_id="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(sso_client_id.invalid && (sso_client_id.dirty || sso_client_id.touched)) || (form.submitted && sso_client_id.invalid)">
                    <small class="msg error" *ngIf="sso_client_id.errors?.['required']">Client id is
                        required.</small>
                </div>
            </div>
        </ng-container>

        </div>
        <hr class="f-row mb-4">
        <div class="f-row pb-2"><strong >Subscription information</strong>
            <button class="btn btn-primary btn-xsm ms-2" (click)='userForm.subscription_details.push({"therapeutic_id": "","disease_id": "","sub_end_date": "","sub_start_date": ""})'><span >Add</span></button>
        </div>
        <div class="f-row offside ta-list" *ngFor="let s of userForm.subscription_details;let i=index;">
            <div class="fw-100">
                <span class="float-end">
                    <button class="btn btn-danger btn-xsm" (click)="this.userForm.subscription_details.splice(i,1)"><span >Remove</span></button>
                </span>
            </div>
            <div class="f-feilds">
                <label>Disease & Therapeutic*</label>
                <div class="form-control-layer fw-100" [ngClass]="{'empty':!s.disease_id}">
                    <ngx-select [allowClear]="true" [items]="list.ta_d" optionValueField="disease_id"
                        optionTextField="disease_name" [(ngModel)]="s.disease_id" (select)="doSelect($event,i)"
                        placeholder="Disease & Therapeutic*" required="" name="disease_id">
                        <ng-template ngx-select-option ngx-select-option-selected let-option
                            let-text="text">
                            {{option.data.disease_name}} <small class="ta">({{option.data.therapeutic_name}})</small>
                        </ng-template>
                        <ng-template ngx-select-option-not-found let-input>"{{input}}" not found
                        </ng-template>
                    </ngx-select>
                    <small class="msg error" *ngIf="!form.submitted && s.disease_id==null">Please
                        select login type</small>
                </div>
                <small class="msg error" *ngIf="(form.submitted && s.disease_id==null)">Please select
                    login type</small>
            </div>
            <div class="f-feilds">
                <label>Start date*</label>
                <input type="date" class="form-control" required name="sub_start_date"
                    [(ngModel)]="s.sub_start_date" #sub_start_date="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(sub_start_date.invalid && (sub_start_date.dirty || sub_start_date.touched)) || (form.submitted && sub_start_date.invalid)">
                    <small class="msg error" *ngIf="sub_start_date.errors?.['required']">Start date is
                        required.</small>
                </div>
            </div>
            <div class="f-feilds">
                <label>End date*</label>
                <input type="date" class="form-control" required name="sub_end_date"
                    [(ngModel)]="s.sub_end_date" #sub_end_date="ngModel" autocomplete="off">
                <div class="fw-100"
                    *ngIf="(sub_end_date.invalid && (sub_end_date.dirty || sub_end_date.touched)) || (form.submitted && sub_end_date.invalid)">
                    <small class="msg error" *ngIf="sub_end_date.errors?.['required']">End date is
                        required.</small>
                </div>
            </div>
        </div>
        <hr class="mb-4">




        <div class="f-row">
            <!-- <button type="button" class="btn btn-primary btn-sm float-end" (click)="userFormVisible=false">back</button> -->
            <button class="btn btn-primary btn-sm" [ngClass]="{'forminvalid':!form.valid}" type="submit"
                [disabled]="apiCall['common']">
                <span>Submit</span>
            </button>
        </div>
    </form>
</div>


<div class="modal show confirm-popup" tabindex="-1" role="dialog" aria-labelledby=""
    *ngIf="popuptype == 'projectDelete'">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
            <h3 class="fw-100 my-2 text-center">Are you sure to delete {{currentObj.client_name}}?</h3>

            <div class="fw-100 p-2 text-center mt-2">
                <button class="btn btn-light my-md me-3" (click)="this.popuptype = ''">Cancel</button>
                <button class="btn btn-danger my-md me-3" (click)="deleteCallback(currentObj.user_id)"
                    [disabled]="apiCall['common']">Delete</button>
            </div>
        </div>
    </div>
</div>