::ng-deep :root {
  --black: #000000;
  --white: #ffffff;
}

.chat-ui {
  background: #023761;
  border: 1px none;
  mix-blend-mode: normal;
  overflow: hidden;
}

.chat-ui .outer-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: 100vh;
  left: 0px;
  padding: 20px 24px 0px 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.chat-ui .left-container {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px;
  position: relative;
  width: 345px;
}

.chat-ui .left-container-top {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.chat-ui .logo-section {
  background-color: transparent;
  position: relative;
}
.chat-ui .option-group {
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.chat-ui .options.new-chat {
  background: #fcb13b;
}
.chat-ui .options.chat-history {
  background: #5291dd;
}
.chat-ui .options.user-management {
  background: #5291dd;
}
.chat-ui .options {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  flex: 0 0 auto;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.chat-ui .option-img {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.chat-ui .option-txt {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.chat-ui .option-img {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.chat-ui .bottom-option-group {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.chat-ui .chat-area-container {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  mix-blend-mode: normal;
  padding: 16px;
  position: relative;
  height: 95vh;
}

.chat-icon {
  height: 20px;
}
.delete-icon {
  height: 20px;
}

.accordion {
  height: 100%;
  width: 100%;
  margin: auto;
}

/* .accordion > li{height: 50%;} */
.accordion .menu {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  padding: 15px 25px;
  justify-content: space-between;
  color: #579ace;
  cursor: pointer;
  transition: all 0.4s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.accordion li.active .arrow {
  transform: rotate(180deg);
}

.accordion li.active i.fa-chevron-down {
  transform: rotate(180deg);
}

/* Show topics */
.accordion li.active .topics {
  /*
    height: 0 -> height: auto;는 transition이 동작하지 않는다.
    max-height: 임의의 높이;를 지정하면 transition이 동작하지만 타이밍이 망가진다.
    max-height: 1000px;과 max-height: 133px;을 비교해 보라!
    height를 1000px으로 transition할 시간에 실제로는 133px정도만 transition하므로 여는 시간이 닫는 시간보다 빠르다.
  */
  /* max-height: 1000px; */
  /* max-height: 133px; */
}

.topics {
  height: 0;
  max-height: calc(100% - 50px);
  overflow: auto;
  font-size: 16px;
  transition: height 0.4s ease;
}
.active .topics {
  height: calc(100% - 50px);
}

.topics li {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 8px;
}

.chat-history-list {
  height: calc(100vh - 365px);
}

.topics .chat-title {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.topics .chat-title:hover {
  color: #fff;
}

.topics .chat-title.active {
  color: #fff;
  font-size: 17px;
}

.chat-area-header {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  width: 100%;
}
.chat-container {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  position: relative;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 100px);
  margin: 0 auto;
  max-width: 1000px;
}
.init-content {
  align-items: center;
  align-self: stretch;
  /* background-color: #f9fafc; */
  border-radius: 16px;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  justify-content: center;
  mix-blend-mode: normal;
  position: relative;
  width: 100%;
  height: 90%;
  padding: 24px;
}
.input-area {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.input-form {
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background: #f5f5f5;

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
}

.input-form input {
  flex: 1 0 auto;
  border-radius: 44px;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  padding: 15px 20px;
  color: #000;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}
.input-form button {
  height: 44px;
  border-radius: 10px;
  background: #fcb13b;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  border: 0;
  margin-left: 10px;
}
.input-form button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.chat-details {
  flex: 1;scroll-behavior: smooth;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}
.mssg {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.mssg:last-of-type {
  margin: 0;
}
.mssg-img {
  width: 50px;min-width: 50px;
  height: 50px;min-height: 50px;
  margin-right: 10px;
  border: 2px solid #f2f2f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  border-radius: 50%;
  position: relative;
}
.mssg .live{
position: absolute;
bottom: 0;
right: 0;
}

.mssg-details {
}

.mssg-bubble {
  max-width: 710px;
  padding: 15px;
  border-radius: 15px;
  background: #f2f2f7;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
.mssg-text{white-space:pre-wrap}

.mssg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.mssg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.left-mssg .mssg-bubble {
  border-top-left-radius: 0;
}
.right-mssg .mssg-bubble {
  background: #cbe9fa;
  border-top-right-radius: 0;
}
.right-mssg {
  flex-direction: row-reverse;
}
.right-mssg .mssg-img {
  margin: 0 0 0 10px;
}
.mssg-footer {
  color: #666668;
  margin: 5px 0;
}
.mssg-footer img {
  margin-left: 5px;
}

.download-btn {
  padding: 15px 15px;
  margin-left: 12px;
  background: #f5f5f5;
  border-radius: 10px;
}

.info-area .info-title {
  color: #7e7e7e;
  padding-left: 20px;
}
.info-area .token {
  border-radius: 5px;
  border: 0.8px solid #b3b3b3;
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 0 0px;
  gap: 10px;
}

.like-dislike-btn img:hover {
  transform: scale(1.2);
  transition: all 0.2s;
  cursor: pointer;
}

::ng-deep .mat-menu-panel {
  min-height: auto !important;
}


.chat-loader span {
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 2px;
  -webkit-animation: chatloader  0.8s linear infinite alternate;
  animation: chatloader  0.8s linear infinite alternate;
}
.chat-loader  span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(252, 177, 59,0.6);
}
.chat-loader  span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(252, 177, 59,0.8);
}
.chat-loader  span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: rgba(252, 177, 59,1);
}
.chat-loader  span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(252, 177, 59,0.8);
}
.chat-loader  span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(252, 177, 59,0.4);
}


@keyframes chatloader  {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes chatloader  {
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}
